@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  border: none;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  background-color: $white;
  overflow-x: hidden;
  max-width: 130rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}
