$white: #ffffff;

$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;

$gray-800: #1d2939;
$gray-900: #101828;

$blue-100: #d1e9ff;
$blue-700: #175cd3;
