@import "../../styles/variables.scss";

.Container {
  border-radius: 2rem;
  width: max-content;
  padding: 0.3rem 1.8rem;
  cursor: pointer;

  @media screen and (max-width: 750px) {
    font-size: 1.5rem;
    padding: 0.1rem 1rem;
  }

  &.White {
    color: $gray-900;
    border: 1px solid $gray-400;
    margin-right: 1rem;
  }
  &.Blue {
    color: $white;
    background-color: $blue-700;
  }
}
