@import "../../styles/variables.scss";

.Container {
  display: flex;
  gap: 1rem;
  cursor: pointer;

  h1 {
    font-weight: 400;
    font-size: 2rem;
    color: $gray-900;

    @media screen and (max-width: 850px) {
      font-size: 1.5rem;
    }
  }

  img {
    @media screen and (max-width: 850px) {
      width: 2.2rem;
    }
  }
}
