@import "../../styles/variables.scss";

.Container {
  position: relative;
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;

  .Img {
    background-image: url("../../assets/svgs/rows.svg");
    z-index: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .Mask {
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      100deg,
      white,
      white,
      transparent,
      transparent,
      transparent,
      white,
      white
    );
    width: 100%;
    height: 100%;
    opacity: 0.9;

    @media screen and (max-width: 860px) {
      background: linear-gradient(
        180deg,
        white,
        white,
        white,
        transparent,
        white,
        white
      );
      opacity: 0.8;
    }
  }

  section {
    display: flex;
    padding: 6rem;
    margin-top: 6rem;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1000px) {
      padding: 6rem 2rem;
    }
    @media screen and (max-width: 860px) {
      flex-direction: column;
      max-width: 60rem;
      margin: 0 auto;
      gap: 4rem;
      padding: 6rem 4rem;
      justify-content: center;
    }
  }

  .Group {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1000px) {
      padding: 6rem 2rem;
    }
    @media screen and (max-width: 860px) {
      flex-direction: column;
      max-width: 60rem;
      margin: 0 auto;
      gap: 4rem;
      padding: 6rem 4rem;
      justify-content: center;
    }
  }
}
