@import "../../styles/variables.scss";

.Container {
  background-color: $gray-100;
  padding: 7rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @media screen and (max-width: 970px) {
    flex-direction: column;
    text-align: center;
    padding: 7rem 2rem;
  }

  & > div {
    flex: 1;
    max-width: 50rem;
  }

  .Right {
    max-width: 40rem;
  }

  .Shopify {
    width: 11rem;

    @media screen and (max-width: 970px) {
      margin: 0 auto;
    }
  }

  .Text {
    line-height: 4rem;
    font-weight: 600;
    color: $gray-900;
    font-size: 3.2rem;
    margin-top: 4rem;

    @media screen and (max-width: 600px) {
      font-weight: 500;
      font-size: 2.8rem;
    }
  }

  .Stars {
    margin-top: 4rem;
    display: flex;
    gap: 0.5rem;

    @media screen and (max-width: 970px) {
      justify-content: center;
    }

    img {
      width: 1.8rem;
    }
  }

  .Base {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 970px) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  .Manager {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.2;

    p {
      color: $gray-600;
    }

    figure {
      width: 5rem;
      border-radius: 50%;
    }
  }

  .Arrows {
    display: flex;
    gap: 3rem;

    figure {
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: $white;
      padding: 1rem;
    }
  }
}
