@import "../../../styles/variables.scss";

.Container {
  flex: 5;
  background-color: $blue-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);

  .Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin-top: 3rem;

    @media screen and (max-width: 550px) {
      gap: 0.8rem;
    }
  }

  .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    padding: 0.8rem;
    background-color: white;
    border-radius: 50%;
    border: 2px solid darken($blue-100, 10%);

    @media screen and (max-width: 550px) {
      width: 3rem;
      padding: 0.4rem;
      border-width: 1px;
    }

    img {
      width: 2.2rem;
      height: 2.2rem;
      cursor: pointer;
    }
  }
}
